@using ShuaBets.WebUI.Infrastructure.Helpers;

@*<li>
    @Html.NavigationLink("Home", "ShowAllTips", "ExclusiveTip")
</li>

<li>
    @Html.NavigationLink("View Our Past Predictions", "PastPredictions", "ExclusiveTip")
</li>*@